html_ {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
}
h1_ {
    font-size: 1.8rem;
    color: white;
}
.topnav_ {
    overflow: hidden;
    background-color: #0A1128;
}

button_ {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

#deviceInfo {
    width: 100%;  /* Match parent container width */
    box-sizing: border-box; /* Include padding in width calculation */
    resize: none;  /* Prevent manual resizing */
    overflow: hidden;  /* Hide scrollbar */
    white-space: pre-wrap; /* Preserve formatting */
}

.testButton_{
    background-color: #5f6c6d;
}

.connectToggleButton_{
    background-color: #24af37;
}

.gray-label_ {
    color: #c7a6a6;
    font-size: 1rem;
}


/* Style for tabs */
.tab-container_ {
    display: flex;
    border-bottom: 2px solid #ccc;
    background-color: #D3D3D3; /* ✅ Light grey background */
}

.tab_ {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background: #131313; /* ✅ Slightly darker grey for active tab */
    outline: none;
}

.tab.active_ {
    background: #6553bd; /* ✅ Light grey tab color */
    font-weight: bold;
}


label_1 {
    font-size: 12px; /* Make the LED labels smaller */
    font-weight: normal;
    color: white; /* Keep text visible on dark background */
}

/* Set background color of the entire page */
body1 {
    margin: 0;
    background-color: black !important;
    /* ✅ Set background to black */
    color: white;
    /* ✅ Ensure text remains visible */
}


/* Set background color of the entire page */
body_2 {
    margin: 0;
    background-color: rgb(141, 138, 228); /* ✅ Set background to white */
}